.page {
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	color: white;
	overflow: hidden;
}

.page__body {
	background-color: #0b061f;
	padding: 0;
}

.wrapper {
	height: 80vh;
	transform: translateY(25%);
}

.container {
	max-width: 1185px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	font-size: 50px;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
}

.site__list {
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
	justify-content: center;
	gap: 25px;

	list-style: none;
}

.site__link {
	background-color: #160066;
	color: inherit;
	text-align: center;

	display: inline-block;
	width: 100%;
	padding: 30px 0;
	border: 2px solid #0f0047;
	border-radius: 20px;

	text-decoration: none;
	transition: background-color 0.3s ease;
}

.site__item {
	transition: transform 0.5s ease;
}

.site__item:hover {
	transform: translateY(-5px) scale(1.05);
}

.site__item:hover .site__link {
	background-color: #0b061f;
}

*::selection {
	background-color: #fff;
	color: #000;
}
