@font-face {
	font-family: "Satoshi";
	src: url(../../fonts/Satoshi-Regular.woff2);
	font-weight: 400;
}
@font-face {
	font-family: "Satoshi";
	src: url(../../fonts/Satoshi-Medium.woff2);
	font-weight: 500;
}
@font-face {
	font-family: "Satoshi";
	src: url(../../fonts/Satoshi-Bold.woff2);
	font-weight: 700;
}
@font-face {
	font-family: "Integral CF";
	src: url(../../fonts/Fontspring-DEMO-integralcf-bold.otf);
	font-weight: 700;
}
